<ul class="st--list-unstyled cur-rates-list">
  {{#each currenciesFiltered as |val|}}
    <li class="cur-rates-item">
      {{inflation-icon val.hasFallen}}
      <span class="cur-rates-item-value fonts-light">{{val.currency}}:</span>
      <span class="cur-rates-item-value">{{val.value}}</span>
    </li>
  {{/each}}
</ul>
