
<div class="mdl-textfield mdl-js-textfield select-date-item">
  <label class="mdl-textfield__label" for="select-year">Year</label>
  <select class="mdl-textfield__input" type="text" id="select-year">
    <option value="2016">2016</option>
  </select>
</div>

<div class="mdl-textfield mdl-js-textfield select-date-item">
  <label class="mdl-textfield__label" for="select-month">Month</label>
  <select class="mdl-textfield__input" type="text" id="select-month">
    <option value="November">5 Nov - 4 Dec</option>
  </select>
</div>

<div class="select-date-button">
  <button class="mdl-button mdl-js-button mdl-button--primary" disabled>
    ok
  </button>
</div>
