<div class="text-right spendings-cont">

  <div class="current-spendings">
    <div class="spendings-currency">{{currency}}</div>
    <div class="spendings-value">{{data}}</div>
  </div>

  <div class="today-date-display">
    <span>{{todaysDate.dayName}}</span>
    <em>{{todaysDate.date}}</em>
  </div>
</div>
