<section class="settings-section" id="user-settings-cont">
  <div class="st--navigation_card settings-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-card--expand">
    <h2 class="mdl-card__title-text">Settings</h2>
  </div>

  {{#user-settings-wrapper class="st-card__supporting-text" action="closeSettings"}}
    <p>Change your settings</p>
    <ul class="st--list-unstyled user-settings">

      <li class="settings-item">
        <span>Name:</span>
        {{#user-setting value=model.userName  propertyName="userName" action="updateSetting" class="settings-value"}}
            <span>{{model.userName}}</span>
        {{/user-setting}}
      </li>

      <li class="settings-item">
        <span>Currency:</span>
        {{#user-setting-currency value=model.currencyName  propertyName="currencyName" action="updateSetting" class="settings-value"}}
          <span>{{model.currencyName}}</span>
        {{/user-setting-currency}}
      </li>

      <li class="settings-item">
        <span>Currency Symbol:</span>
        {{#user-setting value=model.currencySymbol  propertyName="currencySymbol" action="updateSetting" class="settings-value"}}
            <span>{{model.currencySymbol}}</span>
        {{/user-setting}}
      </li>

    </ul>
  {{/user-settings-wrapper}}

  <div class="mdl-card__actions mdl-card--border text-right">
    {{#link-to 'home' class="mdl-button mdl-button--colored mdl-js-button" id="close-settings-btn"}}
      close
    {{/link-to}}
  </div>
</div>
</section>
