.em--modal
  position: fixed
  top: 0
  left: 0
  z-index: 10000 !important
  width: 100vw
  height: 100vh
  background: rgba(0, 0, 0, 0.5)
  text-align: center
  padding-top: 66px

.em--modal-content
  text-align: left
  display: inline-block
  max-width: 98%


@media screen and (max-width: 1024px)
  .em--modal
    padding-top: 58px
