.current-spendings
  color: $color6
  >div
    display: inline-block

.spendings-currency
  font-size: 3rem !important
  line-height: 3rem

.spendings-value
  font-size: 5rem !important
  line-height: 5rem

.today-date-display
  >span
    color: $color3
    margin-right: 10px
    font-size: 1.4rem
