.spendings-cont
  padding-right: 50px
  padding-top: 100px

.current-spendings
  color: $color6
  >div
    display: inline-block

.spendings-currency
  font-size: 3rem !important
  line-height: 3rem

.spendings-value
  font-size: 5rem !important
  line-height: 5rem

.today-date-display
  color: $color3
  font-style: italic
