.st--header
  background-color: $color1 !important
  color: $color2

.st--main-nav
  .mdl-navigation__link
    color: $color1 !important

.st--title
  color: $color3

.st--icon-link
  &:hover
    .material-icons
      color: $color7 !important
body
  min-width: 350px

.test-div
  width: 500px
  height: 500px
  background: white

.st--navigation_card
  position: absolute
  top: 50px
  z-index: 100
  min-width: 350px
  background: white

@media screen and (max-width: 600px)
  .mdl-layout__header-row
    padding: 0 30px !important
