.settings-card
  position: absolute
  top: 50px
  right: 80px
  z-index: 100
  min-width: 350px
  .mdl-card__title
    min-height: 125px
    @extend .argyle-pattern

  .mdl-card__title-text
    color: $color1

  .mdl-card__supporting-text

.user-settings-line
  color: $color2

.user-settings
  padding: 0 10px
  margin-bottom: 30px

.settings-item
  position: relative
  overflow: hidden !important
  padding-right: 60px
  height: 35px
  line-height: 35px
  border-bottom: 1px dashed rgba(0, 0, 0, 0.1)

.settings-value
  margin-left: 5px
  color: $color2

.settings-edit-btn
  +position(absolute, 0 0 null null)

.settings-input
  display: inline-block
  width: 160px !important
