body
  background-color: $color1
  .material-icons
    color: $color2

.st--grid-max
  max-width: 960px

.sr-only
  position: absolute
  width: 1px
  height: 1px
  padding: 0
  margin: -1px
  overflow: hidden
  clip: rect(0, 0, 0, 0)
  border: 0

.text-center
  text-align: center

.text-right
  text-align: right

.text-left
  text-align: left

.mdl-card--bg-color
  background-color: $color1 !important

.st--list-unstyled
  padding: 0
  margin: 0
  list-style: none

.st--float-right
  float: right

.st--float-left
  float: left

.st--th_clickable
  color: $color5 !important
  cursor: pointer
  &:hover
    text-decoration: underline
    background: $color1

.sr-only
  position: absolute
  width: 1px
  height: 1px
  padding: 0
  margin: -1px
  overflow: hidden
  clip: rect(0, 0, 0, 0)
  border: 0

.mdl-cell.mdl-cell_no-margin
  margin: 0 !important

.fonts-light
  color: rgba(0, 0, 0, 0.54)
