<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header st--header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <h1 class="mdl-layout-title st--title">Spendings Tracker</h1>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation st--main-nav">
        {{#if areSettingsActive}}
          {{#link-to 'home' class="mdl-navigation__link st--icon-link"}}
            <span class="sr-only">Close</span>
            <i class="material-icons" aria-hidden="true">clear</i>
          {{/link-to}}
        {{else}}
          {{#link-to 'home.settings' class="mdl-navigation__link st--icon-link"}}
            <i class="material-icons">settings</i>
          {{/link-to}}
        {{/if}}
      </nav>
    </div>
  </header>
  {{outlet}}
</div>
